* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
i {
  list-style: none;
}
input {
  list-style: none;
  border: none;
}
table {
  border: none;
}
#header .h_outer {
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  font: 12px arial;
}
#header .h_outer a:hover {
  text-decoration: underline;
  color: #CC0000;
}
#header .h_outer .h_inside {
  margin: 0 auto;
  width: 1200px;
  height: 30px;
}
#header .h_outer .h_inside .login {
  float: left;
  line-height: 30px;
}
#header .h_outer .h_inside .login .l_home a {
  color: #707070;
}
#header .h_outer .h_inside .login span {
  padding-right: 20px;
}
#header .h_outer .h_inside .login span a {
  color: #557FD3;
}
#header .h_outer .h_inside .menu {
  float: right;
  height: 30px;
}
#header .h_outer .h_inside .menu a {
  color: #6A6A6A;
}
#header .h_outer .h_inside .menu a:hover {
  color: #CC0000;
}
#header .h_outer .h_inside .menu ul {
  line-height: 30px;
}
#header .h_outer .h_inside .menu ul li {
  float: left;
  margin: 0 10px;
}
#header .h_outer .h_inside .menu ul .li_phone {
  padding: 0 0px 0 20px;
  text-align: center;
  background: url(../images/01.png) no-repeat;
}
#search {
  width: 1200px;
  height: 117px;
  padding: 25px 0 0;
  margin: 0 auto;
  overflow: hidden;
}
#search .logo {
  width: 180px;
  height: 50px;
  float: left;
}
#search p {
  float: left;
  margin: 3px 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #eee;
  font: 14px "microsoft yahei";
  width: 165px;
  height: 44px;
  line-height: 44px;
}
#search .search_box {
  width: 600px;
  height: 73px;
  padding: 12px 0 0 56px;
  float: left;
}
#search .search_box .s_text {
  width: 447px;
  height: 36px;
  border: 2px solid #C40000;
  float: left;
}
#search .search_box .s_sub {
  float: left;
  width: 89px;
  height: 36px;
  background-color: #C40000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
}
#search .search_box span {
  display: block;
  width: 540px;
  height: 20px;
  margin-top: 10px;
  float: left;
}
#search .search_box span a {
  float: left;
  color: #999999;
  font-size: 12px;
  margin-right: 15px;
}
#search .search_box span a:hover {
  color: #CC0000;
  text-decoration: underline;
}
#search .flow {
  float: right;
}
#search .flow ul {
  width: 402px;
  height: 38px;
  margin: 0;
}
#search .flow ul li {
  height: 36px;
  width: 100px;
  padding: 0 14px 0 0;
  float: left;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  text-align: center;
}
#search .flow ul .s_1 {
  background: url(../images/50.png) no-repeat 86px -36px;
  background-position: 100% -37px;
  background-color: #E02D2D;
  color: #FFFFFF;
}
#search .flow ul .s_2 {
  background: url(../images/50.png) no-repeat 86x 0px;
  background-color: #E6E6E6;
  color: #000;
}
#search .flow ul .s_3 {
  background: url(../images/50.png) no-repeat 86x 0px;
  background-color: #E6E6E6;
  color: #000;
}
#search .flow ul .s_4 {
  background: url(../images/50.png) no-repeat 86x 0px;
  background-color: #E6E6E6;
  color: #000;
}
#content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#content .site {
  width: 960px;
}
#content .site .title {
  height: 40px;
  width: 960px;
  border: 1px solid #EBEBEB;
}
#content .site .title h2 {
  margin: 0;
  width: 100px;
  font: bold 16px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  float: left;
}
#content .site .title a {
  display: block;
  width: 100px;
  height: 40px;
  float: right;
  line-height: 40px;
  font: bold 12px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#content .site .form {
  width: 960px;
  background-color: #F7F7F7;
  color: #666;
  padding: 6px 88px 6px 10px;
}
#content .site .form form {
  width: 862px;
  padding: 15px 0 5px 22px;
  margin: 0;
  overflow: hidden;
}
#content .site .form form dt {
  float: left;
  width: 75px;
  height: 26px;
  line-height: 26px;
  font: 12px/26px "Arial";
  color: #666;
  margin-bottom: 10px;
}
#content .site .form form dt span {
  color: red;
  padding-right: 8px;
  font: 16px/26px "Arial";
  display: block;
  width: 14px;
  height: 26px;
  float: left;
  line-height: 26px;
}
#content .site .form form dd {
  margin-bottom: 10px;
}
#content .site .form form dd .name {
  width: 130px;
  height: 26px;
  border: 1px solid #D6D6D6;
}
#content .site .form form dd .dizhi {
  width: 350px;
  height: 26px;
  border: 1px solid #D6D6D6;
}
#content .site .form form dd .phone {
  width: 130px;
  height: 26px;
  border: 1px solid #D6D6D6;
}
#content .site .form form dd .post {
  width: 130px;
  height: 26px;
  border: 1px solid #D6D6D6;
}
#content .site .form form dd .sub {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 120px;
  height: 30px;
  background: #DE3030;
  color: #FFFFFF;
  font-weight: 900;
  font: 14px;
  text-decoration: none;
}
#content .site .table {
  margin-top: 10px;
}
#content .site .table tr td {
  text-align: center;
  color: #666;
  height: 63px;
  font-size: 12px;
}
#content .site .table tr th {
  text-align: center;
  background: #f7f7f7;
  height: 39px;
  line-height: 39px;
}
#content .site .table tr .cell1 {
  width: 89px;
}
#content .site .table tr .cell2 {
  width: 180px;
}
#content .site .table tr .cell3 {
  width: 320px;
}
#content .site .table tr .cell4 {
  width: 121px;
}
#content .site .table tr .cell5 {
  width: 121px;
}
#content .site .table tr .cell6 {
  width: 142px;
}
#content .order {
  width: 960px;
  height: 370px;
}
#content .order .title {
  height: 40px;
  width: 960px;
  border: 1px solid #EBEBEB;
}
#content .order .title h2 {
  margin: 0;
  width: 100px;
  font: bold 16px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#content .order table tr th {
  padding: 0 10px;
  font: 12px/34px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  text-align: center;
  border-bottom: 2px solid #c0daf8;
}
#content .order table tr .t1 {
  width: 319px;
  height: 35px;
}
#content .order table tr .t2 {
  width: 183px;
  height: 35px;
}
#content .order table tr .t3 {
  width: 133px;
  height: 35px;
}
#content .order table tr .t4 {
  width: 174px;
  height: 35px;
}
#content .order table tr .t5 {
  width: 151px;
  height: 35px;
}
#content .order table tr td {
  background: #fbfcff;
  text-align: center;
}
#content .order table tr .td1 {
  width: 300px;
  height: 100px;
  padding: 20px 10px;
}
#content .order table tr .td1 span {
  display: table-cell;
  width: 80px;
  height: 80px;
  border: 1px solid #ebeffa;
  background: #fff;
  float: left;
}
#content .order table tr .td1 p {
  font: 12px/18px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#content .order table tr .td1 ul {
  width: 202px;
  height: 43px;
  margin: 0;
}
#content .order table tr .td1 ul li {
  height: 17px;
}
#content .order table tr .td5 {
  color: red;
}
#content .order table tr .td6 {
  width: 960px;
  height: 161px;
  border-top: 1px solid #c0daf8;
}
#content .order table tr .td6 .message {
  width: 419px;
  height: 100px;
  float: left;
}
#content .order table tr .td6 .message label {
  float: left;
}
#content .order table tr .td6 .message label textarea {
  display: block;
  padding: 4px 10px;
  width: 320px;
  height: 76px;
  border: 1px solid #cee2f8;
  background: #fff;
  font: 12px/18px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  resize: none;
  color: #999;
}
#content .order table tr .td6 .youhui {
  width: 300px;
  height: 70px;
  float: right;
}
#content .order table tr .td6 .youhui dl {
  width: 300px;
  height: 30px;
}
#content .order table tr .td6 .youhui dl dt {
  width: 60px;
  height: 30px;
  font: 12px/30px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #999;
  float: left;
  text-align: right;
}
#content .order table tr .td6 .youhui dl dd {
  float: left;
  height: 30px;
  line-height: 30px;
}
#content .sub_order {
  width: 960px;
  height: 200px;
  padding: 32px 0 0;
  text-align: right;
}
#content .sub_order p {
  height: 55px;
}
#content .sub_order p span {
  color: red;
  font-size: 30px;
}
#content .sub_order a {
  display: block;
  width: 160px;
  height: 46px;
  background: #DC2D2D;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  float: right;
  line-height: 46px;
}
#content .sub_order a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: #C41D1D;
}
#foot {
  margin: 40px auto 0;
  padding: 5px 0 20px;
  width: 960px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
#foot span {
  display: block;
  margin-bottom: 10px;
}
/*# sourceMappingURL=buynow.css.map */
